body{
    display: flex;
    background-image: linear-gradient(to bottom left,rgb(32, 74, 109),rgb(0, 241, 229));
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    background-color: white;
    /* content position */
    flex-direction: column;

    /*dimention*/
    height: 300px;
    width: 300px;
    box-shadow: 12px 12px 12px black;

}

.col{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
}
input{
    border: none;
    padding: 5px;
    margin: 10px;
    box-shadow:2px 2px 3px rgb(107, 98, 98);
}
form label{
    margin-left: 10px;
}

.right{
float: right;
}
a{
    text-decoration: none;
    color: red;
}
button{
    margin: 10px;
    height: 25px;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(to right,rgb(0, 132, 255),rgb(255, 0, 221));
}
span{
    color: red;
}
h1 {
    background-image: linear-gradient(to right,rgb(247, 65, 65),rgb(0, 183, 255));
    color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 1em;
}

